body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-size: larger;
}

h1 {
    color: goldenrod;
    
}

#message-el {
    font-style: italic;
}


button{
    background-color: goldenrod;
    color: darkgreen;
    font-weight: bolder;
    height: 35px;
    width: 150px;
    border-radius: 15px;
    border: none;
    margin-bottom: 7px;
}

